<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DisplayMovieServlet</servlet-name>
        <servlet-class>Servlet.DisplayMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewServlet</servlet-name>
        <servlet-class>Servlet.AddReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesThisWeekServlet</servlet-name>
        <servlet-class>Servlet.MoviesThisWeekServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPersonServlet</servlet-name>
        <servlet-class>Servlet.DisplayPersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecificMoviesServlet</servlet-name>
        <servlet-class>Servlet.SpecificMoviesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveReviewServlet</servlet-name>
        <servlet-class>Servlet.RemoveReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReviewServlet</servlet-name>
        <servlet-class>Servlet.GetReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovieRatingServlet</servlet-name>
        <servlet-class>Servlet.AddMovieRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMovieRatingServlet</servlet-name>
        <servlet-class>Servlet.GetMovieRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMovieRatingServlet</servlet-name>
        <servlet-class>Servlet.RemoveMovieRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToWTSLServlet</servlet-name>
        <servlet-class>Servlet.AddToWTSLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTVReviewServlet</servlet-name>
        <servlet-class>Servlet.AddTVReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTVRatingServlet</servlet-name>
        <servlet-class>Servlet.AddTVRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTVReviewServlet</servlet-name>
        <servlet-class>Servlet.GetTVReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTVRatingServlet</servlet-name>
        <servlet-class>Servlet.GetTVRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTVReviewServlet</servlet-name>
        <servlet-class>Servlet.RemoveTVReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTVRatingServlet</servlet-name>
        <servlet-class>Servlet.RemoveTVRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayEpisodeServlet</servlet-name>
        <servlet-class>Servlet.DisplayEpisodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWTSLServlet</servlet-name>
        <servlet-class>Servlet.GetWTSLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToNotInterestedServlet</servlet-name>
        <servlet-class>Servlet.AddToNotInterestedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNIMLServlet</servlet-name>
        <servlet-class>Servlet.GetNIMLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveWTSLServlet</servlet-name>
        <servlet-class>Servlet.RemoveWTSLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveNotInterestedServlet</servlet-name>
        <servlet-class>Servlet.RemoveNotInterestedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWTSLTVServlet</servlet-name>
        <servlet-class>Servlet.AddWTSLTVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveWTSLTVServlet</servlet-name>
        <servlet-class>Servlet.RemoveWTSLTVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToNotInterestedTVServlet</servlet-name>
        <servlet-class>Servlet.AddToNotInterestedTVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveNotInterestedTVServlet</servlet-name>
        <servlet-class>Servlet.RemoveNotInterestedTVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWTSLTVServlet</servlet-name>
        <servlet-class>Servlet.GetWTSLTVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotInterestedTVServlet</servlet-name>
        <servlet-class>Servlet.GetNotInterestedTVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMovieServlet</servlet-name>
        <servlet-class>Servlet.DeleteMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTVServlet</servlet-name>
        <servlet-class>Servlet.DeleteTVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportUserServlet</servlet-name>
        <servlet-class>Servlet.ReportUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeEmailUserServlet</servlet-name>
        <servlet-class>Servlet.ChangeEmailUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteUserServlet</servlet-name>
        <servlet-class>Servlet.AdminDeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayMovieServlet</servlet-name>
        <url-pattern>/DisplayMovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewServlet</servlet-name>
        <url-pattern>/AddReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesThisWeekServlet</servlet-name>
        <url-pattern>/MoviesThisWeekServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPersonServlet</servlet-name>
        <url-pattern>/DisplayPersonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecificMoviesServlet</servlet-name>
        <url-pattern>/SpecificMoviesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveReviewServlet</servlet-name>
        <url-pattern>/RemoveReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReviewServlet</servlet-name>
        <url-pattern>/GetReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovieRatingServlet</servlet-name>
        <url-pattern>/AddMovieRatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMovieRatingServlet</servlet-name>
        <url-pattern>/GetMovieRatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMovieRatingServlet</servlet-name>
        <url-pattern>/RemoveMovieRatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToWTSLServlet</servlet-name>
        <url-pattern>/AddToWTSLServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTVReviewServlet</servlet-name>
        <url-pattern>/AddTVReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTVRatingServlet</servlet-name>
        <url-pattern>/AddTVRatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTVReviewServlet</servlet-name>
        <url-pattern>/GetTVReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTVRatingServlet</servlet-name>
        <url-pattern>/GetTVRatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTVReviewServlet</servlet-name>
        <url-pattern>/RemoveTVReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTVRatingServlet</servlet-name>
        <url-pattern>/RemoveTVRatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayEpisodeServlet</servlet-name>
        <url-pattern>/DisplayEpisodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWTSLServlet</servlet-name>
        <url-pattern>/GetWTSLServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToNotInterestedServlet</servlet-name>
        <url-pattern>/AddToNotInterestedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNIMLServlet</servlet-name>
        <url-pattern>/GetNIMLServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveWTSLServlet</servlet-name>
        <url-pattern>/RemoveWTSLServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveNotInterestedServlet</servlet-name>
        <url-pattern>/RemoveNotInterestedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWTSLTVServlet</servlet-name>
        <url-pattern>/AddWTSLTVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveWTSLTVServlet</servlet-name>
        <url-pattern>/RemoveWTSLTVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToNotInterestedTVServlet</servlet-name>
        <url-pattern>/AddToNotInterestedTVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveNotInterestedTVServlet</servlet-name>
        <url-pattern>/RemoveNotInterestedTVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWTSLTVServlet</servlet-name>
        <url-pattern>/GetWTSLTVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotInterestedTVServlet</servlet-name>
        <url-pattern>/GetNotInterestedTVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovieServlet</servlet-name>
        <url-pattern>/DeleteMovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTVServlet</servlet-name>
        <url-pattern>/DeleteTVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportUserServlet</servlet-name>
        <url-pattern>/ReportUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeEmailUserServlet</servlet-name>
        <url-pattern>/ChangeEmailUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUserServlet</servlet-name>
        <url-pattern>/AdminDeleteUserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
